@model IEnumerable<Carmel.Models.Component>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Bridge Catalog application Editor</h2>
        <a asp-controller="App" asp-action="Components" class="btn btn-lg btn-success">View Components</a>
    </div>
</div>

